<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>CodiPlayCo</title>
  <link rel="stylesheet" href="estilo.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

  <header>
    <div class="logo-area">
      <img src="logo letra.PNG" alt="">
    </div>
    <div class="logo-text">CodiPlayCo</div>
    <hr class="header-divider">
    <nav class="main-menu">
      <a href="#"><i class="fas fa-home"></i> Inicio</a>
      <a href="#"><i class="fas fa-hub"></i> Hub </a>
      <a href="#"><i class="fas fa-trophy"></i> Mis logros</a>
    </nav>
    <button id="theme-toggle" class="theme-toggle"><i class="fas fa-moon"></i></button>
  </header>
  <main>
    <h1>¡Explora el Mundo del Internet!</h1>
    <hr>
    <div class="main-content-with-logo">
      <div class="main-info">
        <!-- Aquí va el contenido principal de la página si lo hay -->
      </div>
      <div class="logo-float-center-container">
        <div class="info-card left-card">
          <h3>¿Qué es el internet?</h3>
          <p>Aquí puedes poner información relevante para la carta derecha. Puedes personalizar el contenido y el fondo.</p>
          <a href="internet.html"><button>Haz click</button></a>
        </div>
        <img src="logo señala.png" alt="Logo Proyecto" class="logo-float logo-float-center" id="logoFloat">
        <div class="info-card right-card">
          <h3>¿Qué es una pagina web?</h3>
          <p>Aquí puedes poner información relevante para la carta izquierda. Puedes personalizar el contenido y el fondo.</p>
          <a href="paginas-web.html"><button>Haz click</button></a>
        </div>
      </div>
    </div>
    <hr>
    <p><strong>Curso creado por CodiPlayCo - Aprende jugando</strong></p>
  </main>



</body>
</html>
