<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio | Codiplay Dashboard</title>
    <link rel="stylesheet" href="styleUsuario.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <div class="dashboard-container">
      <aside class="sidebar">
        <div class="logo">
          <a href="inicio.html">
            <img src="images/unnamed-removebg-preview.PNG" alt="Logo Kodland" />
          </a>
        </div>
        <nav class="main-nav">
          <ul>
            <li class="nav-item active">
              <a href="inicio.html"><i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item">
              <a href="mis_cursos.html"
                ><i class="fas fa-book"></i> Mis cursos</a
              >
            </li>

            <li class="nav-item">
              <a href="mis_logros.html"
                ><i class="fas fa-medal"></i> Mis logros</a
              >
            </li>
          </ul>
        </nav>
        <div class="support-section">
          <a href="soporte.html"><i class="fas fa-life-ring"></i> Soporte</a>
        </div>
      </aside>
      <main class="main-content">
        <header class="top-bar">
          <header class="h1eader">
            <h1>Bienvenido Usuario</h1>
          </header>
          <div class="user-info">
            <div class="user-actions">
              <i class="fas fa-info-circle"></i>
              <i class="fas fa-bell"></i>
              <img
                src="images/22b8078e-03d9-49d7-a4a6-f70b4208e8c9-removebg-preview.png"
                alt="User Avatar"
                class="avatar"
              />
            </div>
            <div class="user-name">
              <span>Alejandro</span>
              <i class="fas fa-chevron-down"></i>
            </div>
          </div>
        </header>
        <section class="course-header-section">
          <div class="course-progress-card">
            <div class="progress-indicator">
              <span>EN CURSO</span>
              <div class="progress-text"><span>0</span> / <span>0</span></div>
            </div>
            <h2>Ilustración</h2>
            <p>Completado 0 de 40 lecciones</p>
            <div class="progress-bar-container">
              <div class="progress-bar" style="width: 0%"></div>
            </div>
          </div>
        </section>
        <section class="course-details-tabs">
          <nav class="secondary-nav">
            <ul>
              <li class="nav-item"><a href="#">En clase</a></li>
            </ul>
          </nav>
        </section>
        <section class="modules-section">
          <div class="module-cards-wrapper">
            <div class="module-card no-aprobado">
              <div class="module-header">
                <span>NUEVO</span>
                <span class="module-progress">0 / 285</span>
              </div>
              <a href="modulo1.html" class="sin_linea"><h3>Módulo 1</h3></a>
              <p>Completado 0 de 4 lecciones</p>
              <div class="progress-bar-container small">
                <div class="progress-bar" style="width: 0%"></div>
              </div>
            </div>
            <div class="module-card no-aprobado">
              <div class="module-header">
                <span>En Curso</span>
                <span class="module-progress">0 / 30</span>
              </div>
             <a href="modulo2.html" class="sin_linea"><h3>Módulo 2</h3></a>
              <p>Completado 0 de 4 lecciones</p>
              <div class="progress-bar-container small">
                <div class="progress-bar" style="width: 0%"></div>
              </div>
            </div>
            <div class="module-card nuevo">
              <div class="module-header">
                <span>NUEVO</span>
                <span class="module-progress">0 / 285</span>
              </div>
              <a href="modulo3.html" class="sin_linea"><h3>Módulo 3</h3></a>
              <p>Completado 0 de 4 lecciones</p>
              <div class="progress-bar-container small">
                <div class="progress-bar" style="width: 0%"></div>
              </div>
            </div>
            <div class="module-card no-aprobado">
              <div class="module-header">
                <span>NUEVO</span>
                <span class="module-progress">0 / 30</span>
              </div>
               <a href="modulo4.html" class="sin_linea"><h3>Módulo 4</h3></a>
              <p>Completado 0 de 4 lecciones</p>
              <div class="progress-bar-container small">
                <div class="progress-bar" style="width: 0%"></div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
